<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sing In</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="design/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="design/css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" action="/api/user/singUp" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="checkbox" id="checkbox" class="agree-term" />
                                <label for="checkbox" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div> 
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="design/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="/singIn" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    
    </div>

    <!-- JS -->
    <!-- <script src="/logIn.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script> 
    <script src="design/vendor/jquery/jquery.min.js"></script>
    <script src="index.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        jQuery.validator.addMethod("alphanumeric", function (value, element) {
            return this.optional(element) || /(?!^\d+$)^.+$/i.test(value);
        }, "Do Not Use Only Number in UserName");

        jQuery.validator.addMethod("gmailvalidation", function (value, element) {
            return this.optional(element) || /^[a-z0-9](\.?[a-z0-9]){5,}@g(oogle)?mail\.com$/.test(value);
        }, "Use Your valid Gmail address");

        $.validator.setDefaults({
            ignore: [] // DON'T IGNORE PLUGIN HIDDEN SELECTS, CHECKBOXES AND RADIOS!!!
        });

        $().ready(function () {
            $("#register-form").validate({
                errorPlacement: function ($error, $element) {
                    $error.appendTo($element.closest("div"));
                },
                rules: {
                    name: {
                        required: true,
                        minlength: 2,
                        alphanumeric: true
                    },
                    email: {
                        required: true,
                        email: true,
                        gmailvalidation: true
                    },
                    password: {
                        required: true,
                    },
                    confirmPassword: {
                        required: true,
                        equalTo: '#password'
                    },
                    checkbox: {
                        required: true,
                        minlength: 1
                    }
                },
                messages: {
                    name: {
                        required: "Please Enter your name",
                        minlength: "You need to use at least 2 characters for your name.",
                    },
                    email: {
                        required: "please enter your email",
                        email: "Only valid emails Are Allowed"
                    },
                    password: {
                        required: "please enter your password",
                    },
                    confirmpassword: {
                        required: "please choose your confirm password",
                        equalto: 'confirm password should be equal to password'
                    },
                    checkbox: {
                        required: 'please agree our terms and condition',
                        minlength: 'please agree our terms and condition'
                    }
                }
            })
        });
    </script>



</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>